{{ partial "head" . }}

<body>
	<div class="container">
		{{ partial "main-nav" . }}
		<div class="columns mt-3">
			<div class="column">
				<div class="columns is-multiline">
					{{ range .Paginator.Pages }}
					<div class="column is-half-tablet is-one-third-widescreen is-one-quarter-fullhd">
						<a href="{{.Permalink}}" title="{{.Title}}">
							{{ if isset .Params "banner" }}
								{{ with .Params.banner }}
								{{ partial "micro/image" (dict "filename" .) }}
								{{ end }}
							{{ else }}
								{{ with .Params.images }}
								{{ partial "micro/image" (dict "filename" (index . 0)) }}
								{{ end }}
							{{ end }}
						</a>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>

	{{ partial "footer" . }}
</body>

</html>
