{{ partial "head" . }}

<body>
	<div class="container">
		{{ partial "main-nav" . }}
		<div class="mt-3 columns">
			<div class="column is-5">
				<!-- <h2 class="is-size-2">{{ .Title }}</h2> -->
				{{ with .Params.subtitle}}<h2 class="is-size-4 mb-3">{{ . }}</h2>{{ end }}
				{{ with .Content }}
				<div class="content">
					{{ . }}
				</div>
				{{ end }}
			</div>
			<div class="column is-7">
				<div class="page-content">
					{{ if isset .Params "images" }}
					{{ $scratch := newScratch }}
					{{ $scratch.Set "title" .Title }}
					{{ $scratch.Set "permalink" .Permalink }}
					<div class="slideshow">
						<div class="siema">
							{{ range $index, $element := .Params.images }}
							<div class="slide" id="slide-{{ $index }}">
								{{ $image := dict "filename" $element "ratio" "4x3" }}
								{{- partial "micro/image" $image -}}
							</div>
							{{ end }}
						</div>
						{{ if (gt (len .Params.images) 1) }}
						<div class="buttons has-addons mt-3">
							<button class="button prev">&laquo;</button>
							{{ if (gt (len .Params.images) 2) }}
							{{ range $index, $element := .Params.images }}
							<button class="button slide-{{ $index }}">{{ add $index 1 }}</button>
							{{ end }}
							{{ end }}
							<button class="button next">&raquo;</button>
						</div>
						{{ end }}
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>

	{{ partial "footer" . }}
	<script src="/js/siema.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		const mySiema = new Siema();
		document.querySelector('.prev').addEventListener('click', () => mySiema.prev());
		document.querySelector('.next').addEventListener('click', () => mySiema.next());
		{{ with .Params.images }}
		{{ if (gt (len .) 2) }}
			{{ range $index, $element := . }}
			document.querySelector('.slide-{{ $index }}').addEventListener('click', () => mySiema.goTo({{ $index }}));
			{{ end }}
		{{ end }}
		{{ end }}
	</script>
</body>

</html>
