$color-light-grey: #dedede;
$color-dark-grey: #888;

aside.menu {
	margin-left: -0.75rem;
}

.container {
	padding: 0 0.25rem;
}

.page-content {
	padding-top: 0.5rem;
}

.slideshow {
	position: relative;
	.buttons {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		max-height: 90vh;
		.button {
			height: 100%;
			background-color: transparent;
			opacity: 0;
			border: 0;
			transition: opacity 0.2s ease;
			&:hover {
				opacity: 0.75;
			}
			span {
				color: white;
				text-shadow: 0 0 1px black;
				font-size: 15rem;
			}
		}
	}
}

.slide {
	figure {
		width: 100%;
		height: 100%;
	}
}

.images {
	img.is-wide {
		width: 100%;
		max-height: 100%;
	}
	img.is-tall {
		max-width: 100%;
		height: 100%;
	}
}

.content {
	figure {
		margin: 0;
	}
	table td {
		padding: 0.5em;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
}

.navbar-menu {
	box-shadow: none !important;
}
